/* * {
  animation-name: color-animation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

@keyframes color-animation {
  0% {
    background-color: rgb(158, 208, 255);
  }
  35% {
    background-color: rgb(250, 196, 229);
  }
  65% {
    background-color: rgb(255, 241, 161);
  }
  55% {
    background-color: rgb(255, 129, 70);
  }
  100% {
    background-color: rgb(158, 208, 255);
  }
} 



body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
}

.ball {
  width: 800px;
  height: 800px;
  border-radius: 10%;
  background: radial-gradient(circle, #ff9a9e, #fad0c4, );
  position: absolute;
  animation: blob 3s infinite ease-in-out, float 10s infinite ease-in-out, gradientChange 6s infinite alternate;
  filter: blur(120px); /* Add blur effect 
}

@keyframes blob {
  0%, 100% {
    border-radius: 50%;
    transform: scale(1);
  }
  25% {
    border-radius: 60% 40% 70% 30% / 50% 60% 40% 50%;
    transform: scale(1.1);
  }
  50% {
    border-radius: 40% 60% 30% 70% / 60% 50% 50% 40%;
    transform: scale(0.9);
  }
  75% {
    border-radius: 50% 60% 40% 60% / 60% 50% 50% 40%;
    transform: scale(1.05);
  }
}

@keyframes float {
  0% {
    top: 10%;
    left: 10%;
  }
  25% {
    top: 90%;
    left: 20%;
  }
  50% {
    top: 50%;
    left: 90%;
  }
  75% {
    top: 10%;
    left: 50%;
  }
  100% {
    top: 10%;
    left: 10%;
  }
}

@keyframes gradientChange {
  0% {
    background: radial-gradient(circle, #ff9a9e, #fad0c4);
  }
  25% {
    background: radial-gradient(circle, #a18cd1, #fbc2eb);
  }
  50% {
    background: radial-gradient(circle, #fbc2eb, #a6c1ee);
  }
  75% {
    background: radial-gradient(circle, #a6c1ee, #fbc2eb);
  }
  100% {
    background: radial-gradient(circle, #fbc2eb, #a18cd1);
  }
}

.ball-1 {
  animation-delay: 0s;
}

.ball-2 {
  animation-delay: 4s;
}

.ball-3 {
  animation-delay: 8s;
}
