@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Press+Start+2P&display=swap");
/* LOGO*/
h1 {
  font-family: "Press Start 2P";
  padding-left: 2%;
}

h2 {
  padding-top: 3%;
  padding-left: 2%;
  font-family: "Press Start 2P";
}

p {
  padding-left: 2%;
}
/* help from chatgpt*/
/* home,about me, contact list*/
nav ul {
  list-style: none; /* remove bulletpoints from list */
  display: flex; /* align horizontally*/
  text-align: center;
  padding-left: 1;
}
/*spacing and design of list*/
nav ul li {
  margin: 0%;
  margin-right: 50px;
  display: inline-block;
}

a {
  color: #0107cd;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: black;
}

/* about me scanned image*/
.about-image {
  width: 30%;
  border: 1px solid black;
  margin-top: 5%;
}

footer {
  margin-top: 10rem;
  border-top: 1px solid black;
}

/* second page*/
.contact-form {
  margin: 30px;
  border: 2px solid black;
  color: rgb(101, 101, 101);
}
/* contact form message*/
#message {
  padding-bottom: 20%;
}

#submit {
  text-align: center;
  color: #0107cd;
  font-weight: 1000;
}
/*form placeholder*/
input::placeholder {
  color: #0107cd;
}
form {
}
