@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Press+Start+2P&display=swap");
/* LOGO*/
h1 {
  font-family: "Press Start 2P";
  padding-left: 2%;
}


h2 {
  padding-left: 2%;
  font-family: "Press Start 2P";
}

p {
  padding-left: 2%;
}
/* help from chatgpt*/
/* home,about me, contact list*/
nav ul {
  list-style: none; /* remove bulletpoints from list */
  display: flex; /* align horizontally*/
  text-align: center;
  padding-left: 1;
}
/*spacing and design of list*/
nav ul li {
  margin: 0%;
  margin-right: 50px;
  display: inline-block;
}

.rectangle {
    width: 300px;
    height: 150px;
    background-color:rgb(166, 166, 166) ;
    border: 2px solid black;
    border-radius: 10px;

}

a {
  color: #0107cd;
  text-decoration: none;
  font-weight: bold;
}

/* about me scanned image*/
.about-image {
  width: 50%;
  display: inline-block;
  
}

footer {
    margin-top: 10rem;
    border-top: 1px solid black ;
    
}

.contact-form {
    margin: 30px;
    border: 2px solid black;
    color: rgb(101, 101, 101);
  

}
/* contact form message*/
#message{
    padding-bottom: 20%;
}
